@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');

@media screen and (max-width: 768px) {

    html,
    body {
        font-size: 12px;
    }
}

#modal .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal .button {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0rem 0rem 3rem 3rem;
    background-color: #fff;
    color: green;
}

#modal .popup {
    z-index: 910;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hiden;
    transition: .64s ease-in-out;

    &-inner {
        position: relative;
        bottom: -100vw;
        right: -100vh;
        display: flex;
        border-radius: 3rem 0rem 3rem 3rem;
        align-items: center;
        max-width: 800px;
        max-height: 600px;
        width: 80%;
        height: 80%;
        background-color: #fff;
        transform: rotate(32deg);
        transition: .64s ease-in-out;
    }

    &__photo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 40%;
        height: 100%;
        border-radius: 1rem 0rem 0rem 1rem;
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 100%;
        padding: 4rem;

        h1 {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 2rem;
            text-transform: uppercase;
            color: #0A0A0A;
        }

        p {
            font-size: .875rem;
            color: #686868;
            line-height: 1.5;
        }
    }

    &:target {
        visibility: visible;
        opacity: 1;
        z-index: 950;

        .popup-inner {
            bottom: 0;
            right: 0;
            transform: rotate(0);
        }
    }

    &__close {
        z-index: 999;
        position: absolute;
        right: -1rem;
        top: -1rem;
        width: 3rem;
        height: 3rem;
        font-size: .875rem;
        font-weight: 300;
        border-radius: 100%;
        background-color: #0A0A0A;
        z-index: 4;
        color: #fff;
        line-height: 3rem;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
    }
}