/* general */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scrollbar-width: auto;
    scrollbar-color: #022330 #333333;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: #333333;
}

*::-webkit-scrollbar-thumb {
    background-color: #022330;
    border-radius: 99px;
    border: 3px solid #022330;
}

:root {
    --primary-color: rgb(71, 221, 218);
    --secondary-color: rgb(57, 179, 177);
    --black: rgb(36, 36, 36);
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

@font-face {
    font-family: "vanilla";
    src: url("../fonts/Vanilla\ Twilight\ Script.eot");
    src: url("../fonts/Vanilla\ Twilight\ Script.eot?iefix") format("embedded-opentype"),
        url("../fonts/Vanilla\ Twilight\ Script.woff") format("woff"),
        url("../fonts/VanillaTwilight\ Script.ttf") format("truetype"),
        url("../fonts/Vanilla\ Twilight\ Script.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "tommy";
    src: url("../fonts/madetommy.eot scripts.eot");
    src: url("../fonts/madetommy.eot?iefix") format("embedded-opentype"),
        url("../fonts/madetommy.woff") format("woff"),
        url("../fonts/madetommy.ttf") format("truetype"),
        url("../fonts/madetommy.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src: url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"),
        url("../fonts/websymbols-regular-webfont.eot");
    src: url("../fonts/websymbols-regular-webfont.eot") format("embedded-opentype"),
        url("../fonts/websymbols-regular-webfont.woff") format("woff"),
        url("../fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
.showcase {
    background-color: rgb(184, 184, 184);
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.75; */
    overflow: hidden;
    background: black url("/assets/img/1.png ") loop muted center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.headerContent {
    z-index: 100;
}

#meditionalLogo {
    width: 20%;
    transition: all .5s;
}

#meditionalLogo:hover {
    scale: 1.1;
}

#textHeader {
    font-family: 'vanilla';
    color: white;
    font-size: 6rem;
    transition: all 1s;
}

#textHeader:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    scale: 1.2;
}

#downArrow {
    font-family: 'icons';
    cursor: pointer;
    color: white;
    font-size: 2rem;
    margin-top: 3rem;
    transition: all .5s;
}

#downArrow:hover {
    text-shadow: 0px 0px 20px #fff;
}

/* navbar */
#navbar {
    box-shadow: 0px 0px 10px 1px var(--gray3);
}

#navbar div {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
}

#navbar div a {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

#navbar div a:hover {
    color: white;
    transition: color .3s ease, color .3s ease;
}

#navbar div #dafing {
    font-family: 'tommy';
    font-size: 2rem;
    margin-left: 0.5rem;
    transition: all .5s;
}

#navbar div #dafing:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    scale: 1.1;
}

#navbar div img {
    margin-right: .5rem;
    height: 2rem;
}

#navbar button {
    display: flex;
    height: 75%;
    background-color: #10f866;
    border-radius: 2rem;
    color: rgb(39, 39, 39);
    font-size: 1.5rem;
    padding: .2rem .9rem;
    margin: .7rem;
    scale: 1;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

#navbar #wa {
    font-family: 'tommy';
    font-size: 1.3rem;
    margin-top: 0.48rem;
    transition: all 0.1s;
}

#navbar #whatsapp {
    font-family: "icons";
    margin-top: .5rem;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    transition: all 0.1s;
}

#navbar button:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    box-shadow: 0px 0px 20px #10f866;
}

#navbar ul {
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
    margin: 0;
    max-height: 0;
    transition: max-height .3s ease;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 200;
}

#navbar.open ul {
    max-height: 350px;
}

#navbar li {
    list-style: none;
    padding: 0;
    text-align: center;
}

#navbar ul a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--white);
    transition: color .3s ease, background-color .3s ease;
}


#navbar ul a:hover,
#navbar ul a:focus {
    color: var(--black);
    background-color: white;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 500;
}

#toggle:hover {
    background-color: var(--black);
}

#active {
    background-color: var(--primary-color);
}

/* inicio main */
main {
    overflow: hidden;
}

/* cards */
.hero-section {
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

.card {
    list-style: none;
    position: relative;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    width: 87.5%;
    height: 100%;
    left: 0;
    margin-top: 5rem;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
    transition: all .3s;
}

.card:hover .card__content {
    scale: 1.2;
}

/* .card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
} */

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    text-align: center;
    transition: all .3s;
}

.card:hover .card__heading {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-shadow: 0px 0px 20px white;
}

.card__content .buttonContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__content .buttonContainer .button {
    opacity: 0;
    width: 140px;
    height: 45px;
    font-family: 'tommy', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    transition: all .3s;
}

.card__content .buttonContainer .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.card:hover .button {
    opacity: 1;
}

/* info cards */
#infoCard .infoCard {
    display: none;
    z-index: 900;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    right: 10%;
    box-shadow: 0px 0px 100px black, 0px 0px 25px var(--background-dark) inset;
    background: var(--background-dark);
    border-radius: 3rem;
    color: white;
}

#infoCard #secondInfoCard,
#infoCard #thirdInfoCard,
#infoCard #fourthInfoCard {
    overflow-y: scroll;
}

#infoCard #sixthInfoCard {
    overflow-x: hidden;
}

.infoCard #contentInfoCard {
    padding: 4rem;
    text-align: center;
}

.infoCard #contentInfoCard h1 {
    padding: 1rem;
    padding-bottom: 1.5rem;
    font-size: 4rem;
}

.infoCard #contentInfoCard hr {
    height: .1rem;
    max-width: 100%;
    margin-bottom: 2rem;
    align-items: center;
    border: 0;
    background-image: radial-gradient(white, var(--background-dark));
}

.infoCard .cross {
    z-index: 900;
    position: fixed;
    font-family: "icons";
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(157, 157, 157);
    top: 14.25%;
    right: 13.5%;
    scale: 2;
    transition: all 0.3s;
}

.infoCard .cross:hover {
    scale: 2.5;
    text-shadow: 0px 0px 10px var(--text-light);
}

/* hospedaje */
#fourthInfoCard #pictureUbicacion {
    width: 100%;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#fourthInfoCard #contentInfoCard img {
    width: 400px;
    object-fit: cover;
    margin: 10px;
    border: 3px solid white;
}

#fourthInfoCard #contentInfoCard iframe {
    width: 400px;
    height: 400px;
    margin: 10px;
    border: 3px solid white;
}

/* instgram */
#instagram {
    text-align: center;
    color: white;
    background-color: var(--background-dark);
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#instagram h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#instagram hr {
    height: .1rem;
    max-width: 100%;
    margin-bottom: 2rem;
    align-items: center;
    border: 0;
    background-image: radial-gradient(white, var(--background-dark));
}

#instagram p {
    margin-top: 2rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    letter-spacing: 0.03rem;
}

/* footer */
#footer {
    background: linear-gradient(var(--black), black);
    color: white;
    text-align: center;
    padding: 2rem 0;
}